body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.currency {
    margin-top: 50px;
    padding: 0 15px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: rgba(249, 247, 246, 0.9);
}

.currency h2 {
    text-align: center;
}


.fields {
    text-align: center;
}
.fields label {
    display: inline-block;
    margin-bottom: 20px;
}




